@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* display */
  --text-display-xlarge: 32px;
  --text-display-xlarge--line-height: 1.34;
  --text-display-xlarge--font-weight: 600;
  --text-display-xlarge--letter-spacing: -0.024em;

  --text-display-large: 28px;
  --text-display-large--line-height: 1.36;
  --text-display-large--font-weight: 600;
  --text-display-large--letter-spacing: -0.022em;

  /* heading */
  --text-heading-xlarge: 24px;
  --text-heading-xlarge--line-height: 1.34;
  --text-heading-xlarge--font-weight: 600;
  --text-heading-xlarge--letter-spacing: -0.02em;

  --text-heading-large: 19px;
  --text-heading-large--line-height: 1.4;
  --text-heading-large--font-weight: 600;
  --text-heading-large--letter-spacing: -0.0075em;

  --text-heading-medium: 17px;
  --text-heading-medium--line-height: 1.45;
  --text-heading-medium--font-weight: 600;
  --text-heading-medium--letter-spacing: -0.005em;

  --text-heading-small: 15px;
  --text-heading-small--line-height: 1.5;
  --text-heading-small--font-weight: 600;
  --text-heading-small--letter-spacing: -0.005em;

  /* body */
  --text-body-large: 19px;
  --text-body-large--line-height: 1.4;
  --text-body-large--font-weight: 500;
  --text-body-large--letter-spacing: -0.0075em;

  --text-body-medium: 17px;
  --text-body-medium--line-height: 1.45;
  --text-body-medium--font-weight: 500;
  --text-body-medium--letter-spacing: -0.005em;

  --text-body-small: 15px;
  --text-body-small--line-height: 1.5;
  --text-body-small--font-weight: 500;
  --text-body-small--letter-spacing: -0.005em;

  --text-body-xsmall: 13px;
  --text-body-xsmall--line-height: 1.5;
  --text-body-xsmall--font-weight: 500;
  --text-body-xsmall--letter-spacing: 0em;

  /* label */
  --text-label-large: 19px;
  --text-label-large--line-height: 1.4;
  --text-label-large--font-weight: 400;
  --text-label-large--letter-spacing: -0.0075em;

  --text-label-medium: 17px;
  --text-label-medium--line-height: 1.45;
  --text-label-medium--font-weight: 400;
  --text-label-medium--letter-spacing: -0.005em;

  --text-label-small: 15px;
  --text-label-small--line-height: 1.5;
  --text-label-small--font-weight: 400;
  --text-label-small--letter-spacing: -0.005em;

  --text-label-xsmall: 13px;
  --text-label-xsmall--line-height: 1.5;
  --text-label-xsmall--font-weight: 400;
  --text-label-xsmall--letter-spacing: 0em;

  /* reading */
  --text-reading-heading-sb-large: 19px;
  --text-reading-heading-sb-large--line-height: 1.7;
  --text-reading-heading-sb-large--font-weight: 600;
  --text-reading-heading-sb-large--letter-spacing: -0.0075em;

  --text-reading-heading-sb-medium: 17px;
  --text-reading-heading-sb-medium--line-height: 1.75;
  --text-reading-heading-sb-medium--font-weight: 600;
  --text-reading-heading-sb-medium--letter-spacing: -0.005em;

  --text-reading-heading-sb-small: 15px;
  --text-reading-heading-sb-small--line-height: 1.75;
  --text-reading-heading-sb-small--font-weight: 600;
  --text-reading-heading-sb-small--letter-spacing: -0.005em;

  --text-reading-body-md-large: 19px;
  --text-reading-body-md-large--line-height: 1.7;
  --text-reading-body-md-large--font-weight: 500;
  --text-reading-body-md-large--letter-spacing: -0.0075em;

  --text-reading-body-md-medium: 17px;
  --text-reading-body-md-medium--line-height: 1.75;
  --text-reading-body-md-medium--font-weight: 500;
  --text-reading-body-md-medium--letter-spacing: -0.005em;

  --text-reading-body-md-small: 15px;
  --text-reading-body-md-small--line-height: 1.75;
  --text-reading-body-md-small--font-weight: 500;
  --text-reading-body-md-small--letter-spacing: -0.005em;

  --text-reading-label-rg-large: 19px;
  --text-reading-label-rg-large--line-height: 1.7;
  --text-reading-label-rg-large--font-weight: 400;
  --text-reading-label-rg-large--letter-spacing: -0.0075em;

  --text-reading-label-rg-medium: 17px;
  --text-reading-label-rg-medium--line-height: 1.75;
  --text-reading-label-rg-medium--font-weight: 400;
  --text-reading-label-rg-medium--letter-spacing: -0.005em;

  --text-reading-label-rg-small: 15px;
  --text-reading-label-rg-small--line-height: 1.75;
  --text-reading-label-rg-small--font-weight: 400;
  --text-reading-label-rg-small--letter-spacing: -0.005em;
}
