{% if current_time %}
<time_context>
- User Local Time: << current_time.kst >> (Asia/Seoul)
- System UTC Time: << current_time.utc >>
</time_context>
{% endif %}

{% if company %}
<organization_information>
- name: << company.name >>
- description: << company.description >>
</organization_information>
{% endif %}

{% if user %}
<user_information>
- name: << user.name >>
- email: << user.email >>
- department: << user.department >>
</user_information>

{% endif %}